<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone Travel App</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class = "hero">
            Travel Planner
        </div>
    </header>
    
    <main>
        <section>
            <form id=tripForm class ="form">
                <label for="city">Trip location: </label>
                <input type="text" id="destCity" placeholder="enter trip location">
                <label for="depDate">Date of departure: </label>
                <input type= "date" id="depDate" placeholder="enter date of departure" required>
                <input id="save-btn" type ="submit" value="Save trip">
                <input id="remove-btn" type ="submit" value="Delete trip">
            </form>
        </section>

        <section class="tripInfo">
            <div id="tripInfo">Trip info: 
                <div id="tripCountdown"></div>
                <div id="cityInfo"></div>
                <div id="picInfo"></div>
                <div id="weatherInfo"></div>
            </div>
        </section>
    </main>

    <footer>
        <p>Udacity Final Project for Front End Developer Nanodegree</p>
    </footer>

</body>

</html>