header {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    overflow: auto; 
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #60043d;
    line-height: 1.5;
    background: #86c6b9;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

main {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    overflow: auto; 
    background: #a97d85;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
}

form {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    overflow: auto; 
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
}

.tripInfo {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    overflow: auto; 
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
}

.hero {
    font-size: 28px;
}

footer {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #60043d;
    line-height: 1.5;
    background: #86c6b9;
}

#save-btn {
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    border-radius: 5px;
}

#remove-btn {
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    /* Apply new styles for mobile devices here */

    .tripInfo {
        display: flex;
        width: 100vw;
        height: 60vh;
        padding: 5px;
        padding-bottom: 10px;
    }

    img {
        width: 100vw; /* Set the width to 100 viewport width units */
        height: auto;
    }
}

@media screen and (min-width:1024px) {}